.wether{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.reload{
    text-align: center;
    height: 20px;
    width: 90%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.reload>img{
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 30px black;
}

.full-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(61, 48, 12, 0.589);
    border-radius: 15px;
    margin-top: 0px;
    width: 90%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 1px black;
}

.container{
    margin-top: 0px;
    margin-left: 0px;
    padding: 50px;
    width: auto;
    border-radius: 5px;
}

.container h1{
    font-family: monospace;
    padding-left: 30px;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    font-size: 60px;
}

#count{
    padding-left: 200px;
}

.container img{
    width: 200px;
    bottom: 20px;
}

.container-2{
    display: flex;
    flex-direction: row;
}

.temp{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255)
}
.weath{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.wind-info{
    display: flex;
    text-align: center;
    padding-left: 50px;
    
}
.wind-info>div{
    margin-left: 40px;
}
.wind-info>div>img{
    width: 60px;
}
.windy{
    padding: 5px;
    color: rgb(92, 92, 187);
}

.humi{
    color: aqua;
}